/*
 * add/change change settinhgs in
 * /sass/base/_grid-settings.scss
 *
 * for more info: http://neat.bourbon.io
 */

header.site-header,
div.site-content,
footer.site-footer {
	@include outer-container;
}

// mobile first, breakpoints in /base/_grid-settings.scss
.secondary {
	@include span-columns(16);
}
.site-main {
	@include span-columns(16);
}

// http://css-tricks.com/rems-ems/
html {
	font-size: $em-base * 0.75; // 12px default rem
}

@include media($medium-screen) {
	html {
		font-size: $em-base * 0.875;  // 14px default rem
	}
}

@include media($large-screen) {

	.secondary {
	   	@include span-columns(5);
	}
	.site-main {
	    @include span-columns(11);
	}
	html {
		font-size: $em-base; // 16px default rem
	}
}

@include media($wide-screen) {

	.secondary {
	   	@include span-columns(4);
	}
	.site-main {
	    @include span-columns(12);
	}

}
